.tooltip {
    position: absolute;
    top:0;
    left:0;
    //width:60px;
    background-color: rgba(255,255,255,0.9);

    padding:5px;
    
    //height:45px;
    
    //border:1px solid #000;

    pointer-events: none;

    display: none;
    
    @include fs-textSans(2);
    
    font-size: 12px;

    line-height: 15px;

    padding: 5px;

    //display: none;
    color:colour(neutral-2);
    
    //-webkit-box-shadow: 1px 0 2px 1px rgba(0,0,0,0.2);
    //box-shadow: 1px 0 2px 1px rgba(0,0,0,0.2);
    
    z-index: 99999999;
    h1.title {
        @include fs-header(3);
        font-size: 14px;
        margin:0;
        margin-bottom:0.5em;
        
        color:colour(neutral);

        border-bottom:1px solid #ddd;

        word-wrap: nowrap;
    }

    h1 {
        @include fs-textSans(1);
        margin:0;
        margin-bottom:0.5em;
        
        color:colour(neutral);

        border-bottom:1px solid #ddd;

        text-transform: capitalize;
    }
    div.indicator {
        width:100%;
        float: left;
        // border-bottom: 1px solid #ddd;
        
        text-align: left;
        
        span {
            display: block;
        }

        span.value {
            @include fs-textSans(1);
            color:colour(neutral-2);
            // font-size: 20px;
            // line-height: 22px;
        }

        span.value-emphasis{
            @include fs-textSans(1);
            color:colour(neutral-1);
            // font-size: 20px;
            // line-height: 22px;
        }

        .title {
            @include fs-textSans(1);
        }
    }

    div.indicator:last-child {
        border-right: none;
    }

}

.tooltip.visible {

    display: block;

}

.arrow_box {
    //position: relative;
    background: #fff;
    border: 1px solid #aaa;


}

.arrow_box-after, .arrow_box-before {
    
    top: -webkit-calc(100% + 1px);
    top:    -moz-calc(100% + 1px);
    top:         calc(100% + 1px);

    //left:0%;

    left: -webkit-calc(0% + 6px);
    left:    -moz-calc(0% + 6px);
    left:         calc(0% + 6px);

    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

}

.arrow_box-after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 6px;
    margin-top: -1px;
}

.arrow_box-before {
    border-color: rgba(170, 170, 170, 0);
    border-top-color:  rgba(170, 170, 170, 1);
    border-width: 6px;
    margin-top: 0px;

}
.hide-arrow{
    display:none !important;
}

.show-arrow{
    display:block !important;
}
